mat-toolbar {
    height: 56px;
    padding: 0 5px 0;
    margin: 0;
}

.mat-toolbar.mat-primary {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

mat-toolbar-row {
    margin: 0;
}

.toolbar-image {
    width: 30px;
    margin-right: 10px;
}

.toolbar-spacer {
    flex: 1 1 auto;
}

.btn-text {
    font-size: large;
    padding: 5px 15px 5px 15px;
}

#btn-search {
    margin-right: 15px;
}

.menu-item-text {
    padding-left: 15px;
}

#username-container {
    cursor: default;
    padding: 0 15px;
    margin-bottom: 5px;
    width: fit-content;
}

#profile-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding-top: 2px;
}

.menu-trigger {
    cursor: pointer;
}

.loggedin-menu-container {
    height: 55px;
}