<mat-toolbar class="toolbar" color="primary" [class.mat-elevation-z2]="false" [class.mat-elevation-z6]="true">
    <div fxHide.md fxHide.lg class="icon-spacer">
        <button mat-icon-button (click)="onMobListClick()">
                    <fa-icon [icon]="['fas', 'bars']" size="lg"></fa-icon>
                </button>
    </div>
    <div fxHide.xs fxHide.sm>
        <img class="toolbar-image" src="assets/images/programmer.png" alt="Programmer">
    </div>
    <button mat-button [routerLink]="['/']" class="btn-text">Ramin Armanfar</button>
    <span class="toolbar-spacer"></span>
    <button mat-icon-button class="icon-spacer">
                <fa-icon [icon]="['fas', 'search']" size="lg"></fa-icon>
            </button>
    <button *ngIf="!isLoggedIn" mat-icon-button class="btn-icon">
                <fa-icon [icon]="['fas', 'sign-in-alt']" size="lg" (click)="onLoginClick()"></fa-icon>
            </button>

    <div *ngIf="isLoggedIn">
        <button mat-icon-button [matMenuTriggerFor]="menu">
                    <fa-icon [icon]="['fas', 'ellipsis-v']" size="lg"></fa-icon>
                </button>
        <div>
            <mat-menu #menu="matMenu">
                <div id="username-div">
                    <fa-icon [icon]="['fas', 'user']" size="lg"></fa-icon>
                    <span class="menu-item-text">Hello {{ loggedUserInfo.firstName }} {{ loggedUserInfo.lastName }}</span>
                </div>
                <mat-divider></mat-divider>
                <button mat-menu-item [routerLink]="['/dashboard/logged-user-info']">
                            <fa-icon [icon]="['fas', 'address-card']" size="lg"></fa-icon>
                            <span class="menu-item-text">Your Information</span>
                        </button>
                <button mat-menu-item [routerLink]="['/dashboard/change-password']">
                            <fa-icon [icon]="['fas', 'key']" size="lg"></fa-icon>
                            <span class="menu-item-text">Change Password</span>
                        </button>
                <button mat-menu-item>
                            <fa-icon [icon]="['fas', 'sign-out-alt']" size="lg"></fa-icon>
                            <span class="menu-item-text" (click)="onLogoutClick()">Logout</span>
                        </button>
            </mat-menu>
        </div>
    </div>

</mat-toolbar>