<form #frm="ngForm" (ngSubmit)="loginClick(frm.value)">
    <div class="container">
        <h1 mat-dialog-title>Login</h1>
        <div mat-dialog-content class="mainDiv">
            <p>Please enter your credential to login.</p>
            <mat-form-field class="full-width">
                <input matInput placeholder="Username or Email" ngModel name="usernameOrEmail" #usernameOrEmail="ngModel" required (keypress)="onTextChange()">
                <mat-error *ngIf="usernameOrEmail.hasError('required')">
                    Username/Email is <strong>required</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">
                <input type="password" matInput placeholder="Password" ngModel name="password" #password="ngModel" required (keypress)="onTextChange()">
                <mat-error *ngIf="password.hasError('required')">
                    Password is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </div>
        <div *ngIf="error">
            <p class="errMessage">{{ error.message }}</p>
        </div>
        <mat-divider></mat-divider>
        <div mat-dialog-actions>
            <button class="btns" mat-raised-button (click)="onCancelClick()">Cancel</button>
            <button class="btns" mat-raised-button color="primary" type="submit" cdkFocusInitial>Login</button>
            <div class="links-container">
                <a (click)="onLinkClick('register-user')" class="links">register</a>
                <a (click)="onLinkClick('forget-passowrd')" class="links forget-pass-spacer">forget password?</a>
            </div>
        </div>
    </div>
</form>