.full-width {
    width: 100%;
}

.links-container {
    margin-top: 15px;
    width: 100%;
}

.btns {
    width: 100px;
}

.forget-pass-spacer {
    float: right;
}

.links {
    cursor: pointer;
}

.links:hover {
    color: blue;
}

h1 {
    margin: 0;
    padding: 0;
}

p {
    margin: 5px 0;
}

.errMessage {
    color: red;
}