<mat-toolbar color="primary">
    <mat-toolbar-row>
        <div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill>
            <div fxFlex="33" fxFlex.xs="55" class="col col-left">
                <img class="icon" src="assets/r.ico" alt="Ramin">
                <span class="my-name-texts">Ramin Armanfar</span>
            </div>
            <div fxFlex="33" class="col col-middle">
               <span class="plain-text">Version: 1.0.0</span>
            </div>
            <div fxFlex="33" fxFlex.xs="15" class="col col-right">
                <span class="plain-text">All rights resereved.<br />Ramin Armanfar<br />Germany, 2018</span>
            </div>
        </div>
    </mat-toolbar-row>
</mat-toolbar>