<div class="container" fxLayoutGap="1px" fxLayout="row" fxLayout.xs="column" fxFlexFill>
    <div class="col col1" fxFlex.xs="30">
        <img style="width: 60px; height: 60px;" src="assets/r.ico" alt="Ramin">
        <a mat-flat-button color="primary" [routerLink]="['/']">Ramin Armanfar</a>
    </div>
    <div class="col col2" fxFlex.xs="1">
        Version: 1.0.0
    </div>
    <div class="col col3" fxFlex.xs="40">
        Designed and implemented by Ramin Armanfar.<br />Alright Reserved.<br />Germany, 2018
    </div>
</div>