.container {
    background-color: #3f51b5;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: small;
}

.col {
    flex: 1 1 5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.footer-title {
    padding-left: 15px;
}
