.table-container {
    margin-top: 55px;
}

.loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

table {
    width: 100%;
}

th.mat-sort-header-sorted {
    color: black;
}

th.mat-column-actions {
    width: 20px;
}

td.mat-column-actions {
    max-width: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

.tooltip-delete {
    background: #b71c1c;
}

.tooltip-update {
    background: #0080ff;
}

#btn-add {
    position: absolute;
    top: 130px;
    right: 10px;
}