<div class="container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Password Recovery</mat-card-title>
            <mat-card-subtitle>Please enter your email for password recovery.</mat-card-subtitle>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
            <mat-form-field class="full-width">
                <input matInput placeholder="Email address" ngModel name="email" #email="ngModel" required (keypress)="onTextChange()">
                <mat-error *ngIf="email.hasError('required')">
                    Email is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" (click)="loginClick(email.value)">Recover Password</button>
        </mat-card-actions>
    </mat-card>

</div>