<mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="56" [hasBackdrop]="true">
    <mat-sidenav #snav [mode]="'over'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
        <mat-nav-list>
            <a mat-list-item [routerLink]="[item.url]" *ngFor="let item of menuItems">{{ item.title }}</a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="side-nav-content">
        <div fxLayout='column' class="main">
            <div fxFlex="0px">
                <app-toolbar [isLoggedIn]="isLoggedIn" (mobBtnClick)="mobBtnClick()"></app-toolbar>
            </div>
            <div fxFlex="2" class="sub-toolbar">
                <app-sub-toolbar [info]="subToolbarInfo"></app-sub-toolbar>
            </div>
            <div fxFlex="25" [fxLayout]="direction" fxLayout.md="row" class="body">
                <div fxFlex="50" fxFlex.md="200px" fxFlex.lg="200px" fxFlex.xl="200px" fxHide.xs fxHide.sm class="navbar">
                    <app-navbar></app-navbar>
                </div>
                <div class="body-inside">
                    <router-outlet></router-outlet>
                </div>
            </div>
            <div fxFlex="25" class="footer">
                <app-footer></app-footer>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>