.sidenav-container {
    width: 200px;
}

.navbar {
    background-color: white;
}

.body-inside {
    width: 100%;
    padding: 0 10px;
}

.side-nav-content {
    overflow-y: auto;
}

.footer {
    margin-top: 15px;
}