<div class="container">
    <form #frm="ngForm" (ngSubmit)="updatePassword(frm.value)">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Change Password</mat-card-title>
                <mat-card-subtitle>Update your account password.</mat-card-subtitle>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content>
                <mat-form-field class="full-width">
                    <input matInput placeholder="Username" value="{{ username }}" readonly>
                </mat-form-field>

                <mat-form-field class="full-width">
                    <input type="password" matInput placeholder="Current Password" ngModel name="currentPassword" #currentPassword="ngModel" required (keypress)="onTextChange()">
                    <mat-error *ngIf="currentPassword.hasError('required')">
                        Current password is <strong>required</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="full-width">
                    <input type="password" matInput placeholder="New Password" ngModel name="newPassword" #newPassword="ngModel" required (keypress)="onTextChange()">
                    <mat-error *ngIf="newPassword.hasError('required')">
                        New password is <strong>required</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="full-width">
                    <input type="password" matInput placeholder="Confirm Password" ngModel name="confirmPassword" #confirmPassword="ngModel" required (keypress)="onTextChange()" compare="newPassword">
                    <mat-error *ngIf="confirmPassword.hasError('required')">
                        New password confirmation is <strong>required</strong>
                    </mat-error>
                    <mat-error *ngIf="confirmPassword.errors?.notEqual">
                        Passwords are NOT matched.
                    </mat-error>
                </mat-form-field>

                <mat-error *ngIf="error">
                    <p class="errMessage">{{ error.message }}</p>
                </mat-error>
            </mat-card-content>
            <mat-card-actions>
                <button type="submit" mat-raised-button color="primary">Change Password</button>
            </mat-card-actions>
        </mat-card>
    </form>
</div>